* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
}

body {
  min-height: 100vh;
  padding: 25px;
  font-family: "Nunito Sans", sans-serif;

  background-color: #f5f5f5;

  background-image: radial-gradient(#03565a78 1.5px, transparent 1.5px),
    radial-gradient(#03565a78 1.5px, #f5f5f5 1.5px);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}
.icon {
  font-family: "Lora", serif;
  font-size: 4.5rem;
  text-decoration: none;
  color: #012e31;
}

.nav,
.nav--register {
  font-size: 2.5rem;
  text-decoration: none;
  color: #012e31;
}

.nav--register {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
}

.nav:hover,
.nav--register:hover {
  text-decoration: underline;
}

.nav__container {
  display: flex;
  gap: 25px;
}

.card__container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  border: 3px solid #03565a;
  box-shadow: 5px 10px 15px #b4b4b4;
  background-color: #f5f5f5;
}

.form__title {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  text-align: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input__title {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.input {
  height: 35px;
  border: 1px;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  border: 2px solid #03565a;
}

input:focus {
  outline: none;
}

.button--submit {
  margin: 0 auto;
  margin-top: 15px;
  height: 35px;
  width: 40%;
  border: none;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #03565a;
  color: white;
}

.button--delete {
  margin: 0 auto;
  margin-top: 15px;
  height: 35px;
  width: 45%;
  border: none;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #a00b0b;
  color: white;
}

.button--update {
  margin: 0 auto;
  margin-top: 15px;
  height: 35px;
  width: 45%;
  border: none;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #03609e;
  color: white;
}

.button__divider {
  display: inline-block;
  width: 7%;
}

.card {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid #03565a; */

  border-radius: 10px;
  box-shadow: 5px 10px 15px #b4b4b4;
  background-color: #f5f5f5;
}

.card__content {
  width: 48%;
  padding: 20px 40px 20px 20px;
  /* border: 5px double #03565a; */
}

.card__division {
  width: 4%;
}
.image__container {
  max-width: 48%;
  aspect-ratio: 3 / 5;
  border-radius: 10px;

  display: grid;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.content__title {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  text-align: center;
  margin-bottom: 15px;
}

.content__description,
.content__address {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 15px;
}

.content__address {
  margin-bottom: 0px;
}

.message--error {
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
  color: red;
}

/* 0000000000000000000 */
.home__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
}

.home__divider {
  width: 6%;
}

.home__title {
  font-size: 4rem;
  font-family: "Lora", serif;
}
.home__about {
  font-size: 2rem;
  text-align: justify;
}

.home__content__container {
  width: 34%;
}
.home__image__container {
  /* background-color: #f5f5f5; */
  width: 60%;
  margin-bottom: 35px;
}
.home__image {
  width: 100%;
}

.signup__container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button--signup {
  margin: 0 auto;
  margin-top: 25px;
  height: 50px;
  width: 30%;
  border: none;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #03565a;
  color: white;
}
